<div class="overlay" th:fragment="addBarang"></div>
<form class="popup" th:fragment="addBarang" id="openAddBarangPopup">
    <button class="icon-close" id="closeAddBarangPopup">
        <span class="close-icon">&times;</span>
    </button>

    <h3 th:text="${tambahBarang}"></h3>

    <input type="text" id="namaBarang" th:placeholder="${namaBarang}" required>
    <input type="number" id="hargaBarang" th:placeholder="${hargaBarang}" required>
    <input type="number" id="stokBarang" th:placeholder="${stokBarang}" required>

    <div class="file-upload">
        <input type="file" id="photoBarang" accept="image/*" required>

        <label for="photoBarang">
            <span class="file-name" th:text="${fotoBarang}"></span>
            <span class="upload-btn" th:text="${upload}"></span>
        </label>
    </div>

    <div class="button-container">
        <button class="btn-green" id="simpanBarang" th:text="${simpan}"></button>
    </div>
</form>