<div th:fragment="notifikasi" class="toast" id="successToast" style="z-index: 10000; position: absolute; top: 20px; right: 20px; color: white; border-radius: 10px;" data-bs-autohide="true">
    <div class="toast-header" style="border-bottom: 2px solid #155724;">
        <strong class="me-auto">Notifikasi</strong>
        <button type="button" class="btn-close btn-close-red" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" id="notifikasi-body">
        Data pengguna berhasil disimpan!
    </div>
</div>