<head th:fragment="header">
    <title th:text="${title}"></title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}"/>

    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/js.js}"></script>

    <meta name="csrf-token" th:content="${_csrf.token}"/>
</head>