<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"></title>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" th:src="@{/js/barang.js}"></script>

        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body>
        <div th:replace="~{partials/header::header}"></div>

        <div class="content">
            <span class="system-title" th:text="${title}"></span>
            <button class="btn-green" th:text="${tambahBarang}" th:if="${isAdmin}" id="addBarang"></button>
        </div>

        <div th:replace="~{popups/addBarang::addBarang}"></div>
        <div th:replace="~{partials/footer::footer}"></div>










        <!-- Grid Content -->
        <!-- <div class="content">
            <div class="grid-container">
                <div class="grid-item" onclick="showPopup('Barang 1', 'Rp 100.000', 'Kategori 1')">
                    <img src="https://via.placeholder.com/200" alt="Barang 1">
                    <h3>Barang 1</h3>
                    <p>Rp 100.000</p>
                    <p>Kategori 1</p>
                </div>
                <div class="grid-item" onclick="showPopup('Barang 2', 'Rp 200.000', 'Kategori 2')">
                    <img src="https://via.placeholder.com/200" alt="Barang 2">
                    <h3>Barang 2</h3>
                    <p>Rp 200.000</p>
                    <p>Kategori 2</p>
                </div>
                <div class="grid-item" onclick="showPopup('Barang 3', 'Rp 300.000', 'Kategori 3')">
                    <img src="https://via.placeholder.com/200" alt="Barang 3">
                    <h3>Barang 3</h3>
                    <p>Rp 300.000</p>
                    <p>Kategori 3</p>
                </div>
                <div class="grid-item" onclick="showPopup('Barang 1', 'Rp 100.000', 'Kategori 1')">
                    <img src="https://via.placeholder.com/200" alt="Barang 1">
                    <h3>Barang 1</h3>
                    <p>Rp 100.000</p>
                    <p>Kategori 4</p>
                </div>
            </div>
        </div> -->
    </body>
</html>