<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"></title>

        <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/js/js.js}"></script>

        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}"/>
    </head>

    <body class="splash-body">
        <div class="splash-container">
            <img th:src="@{/img/logo.png}"/>
            <h1 th:text="${title}"></h1>
            <div class="splash-spinner"></div>
        </div>
    </body>
</html>