.splash-body {
    font-family: 'Roboto', sans-serif;
    background-color: #E0F7FA;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    margin: 0;
}
.splash-container {
    padding: 35px;
    text-align: center;
    border-radius: 10px;
}
.splash-container img {
    height: auto;
    width: 130px;
    border-radius: 15px;
    box-shadow: 0 4px 8px RGBA(0, 0, 0, 0.2);
}
.splash-container h1 {
    color: #333;
    font-size: 15px;
    margin-top: 10px;
}
.splash-spinner {
    border: 4px solid RGBA(0, 0, 0, 0.1);
    animation: spin 1s linear infinite;
    border-top: 3px solid #333;
    border-radius: 50%;
    margin: 10px auto;
    height: 25px;
    width: 25px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.login-body {
    font-family: 'Roboto', sans-serif;
    background-color: #E0F7FA;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    margin: 0;
}
.login-container {
    width: 300px;
    text-align: center;
    border-radius: 10px;
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 25px 50px 50px 50px;
    box-shadow: 0 4px 8px RGBA(0, 0, 0, 0.1);
}
.login-container h1 {
    color: #529FD3;
    font-size: 30px;
}
.login-container h3 {
    color: #333;
    font-size: 12px;
    margin-bottom: 35px;
}

.form-group {
    margin-bottom: 15px;
}

.input-icon {
    position: relative;
}
.input-icon i {
    top: 50%;
    left: 10px;
    color: #AAA;
    position: absolute;
    transform: translateY(-50%);
}
.input-icon input {
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #DDD;
    padding: 10px 10px 10px 30px;
    transition: border-color 0.3s;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.input-icon input:focus {
    outline: none;
    border-color: #007BFF;
}

.login-error span {
    display: block;
    font-size: 12px;
    color: #FF0000;
    margin-bottom: 20px;
}

.button-yellow {
    border: none;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #FF9800;
}
.button-yellow:hover {
    background-color: #E68900;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    transition: width 0.3s;
    background-color: #4A90E2;
}
.sidebar.collapsed {
    width: 75px;
}
.sidebar .logo {
    padding: 15px 0;
    text-align: center;
}
.sidebar .logo img {
    width: 75px;
    height: 75px;
}
.sidebar a {
    display: flex;
    color: #FFF;
    padding: 15px 20px;
    justify-content: left;
    text-decoration: none;
    transition: justify-content 0.3s;
}
.sidebar.collapsed a {
    justify-content: center;
}
.menu-active,
.sidebar a:hover {
    font-weight: 500;
    background-color: rgba(0, 51, 102, 0.5);
}
.sidebar a i {
    font-size: 1.3rem;
    transition: font-size 0.3s;
}
.sidebar.collapsed a i {
    font-size: 1.6rem;
}
.sidebar a .text {
    font-size: 1.2rem;
    margin-left: 15px;
    transition: opacity 0.3s, display 0.3s;
}
.sidebar.collapsed a .text {
    opacity: 0;
    display: none;
}
.sidebar .toggle-btn {
    bottom: 0;
    width: 100%;
    text-align: right;
    position: absolute;
    padding-right: 30px;
    padding-bottom: 30px;
    transition: transform 0.3s;
}
.sidebar.collapsed .toggle-btn {
    padding-right: 0;
    text-align: center;
    transform: scaleX(-1);
}
.sidebar .toggle-btn i {
    color: #FFF;
    font-size: 30px;
    padding: 5px 10px;
}
.sidebar .toggle-btn i:hover {
    padding: 5px 10px;
    border-radius: 50%;
    background-color: rgba(0, 51, 102, 0.5);
}

.top-bar {
    color: #FFF;
    padding: 15px;
    margin-left: 250px;
    transition: margin-left 0.3s;
}
.top-bar.collapsed {
    margin-left: 75px;
}
.top-bar-title {
    flex-grow: 1;
    font-size: 28px;
    color: #2C3E50;
    font-weight: bold;
    margin-right: 20px;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.top-bar-user {
    margin: 0px 10px;
    color: #4A5568;
    font-weight: bold;
    font-size: medium;
}

.user-profile {
    cursor: pointer;
    color: #4A5568;
    font-size: medium;
    position: relative;
}
.user-profile:hover {
    color: #4A90E2;
    font-weight: bold;
}
.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-card {
    right: 0;
    width: 200px;
    padding: 1rem;
    color: #4A5568;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    transform-origin: top right;
    background-color: #F8F9Fa;
    border: 1px solid #DEE2E6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, border-radius 0.3s ease;
}
.profile-card.show-profile-card {
    border-radius: 8px;
    transform: scale(1);
}
.profile-card a {
    width: 100%;
    display: flex;
    font-size: 1rem;
    color: #495057;
    padding: 0.5rem 0;
    align-items: center;
    text-decoration: none;
}
.profile-card a:hover {
    color: #343A40;
    border-radius: 6px;
    background-color: #E9ECEF;
}
.profile-card i {
    margin: 0 0.5rem;
    color: #6C757D;
    font-size: 1.5rem;
    transition: color 0.2s ease;
}
.profile-card a:hover i {
    color: #343A40;
}
.profile-card .text {
    font-weight: 500;
}