<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sistem Penjualan ATK</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/splash.css}"/>
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}"/>
        <script type="text/javascript" th:src="@{/js/splash.js}"></script>
    </head>
    <body>
        <div class="splash-container">
            <img th:src="@{/img/splash.png}"/>
            <h1>Sistem Penjualan Alat Tulis Kantor</h1>
            <div class="splash-spinner"></div>
        </div>
    </body>
</html>